import os
import asyncio
from aiogram import Bot, Dispatcher

# Tokenni Render'dan o'qiydi (hech qanday qo'shtirnoq yoki raqam yozmang!)
BOT_TOKEN = os.getenv('BOT_TOKEN')

bot = Bot(token=BOT_TOKEN)
dp = Dispatcher()

async def main():
    print("Bot ishga tushdi!")
    await dp.start_polling(bot)

if __name__ == '__main__':
    asyncio.run(main())
    asyncio.run(main())
